<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jfsd_skill4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>makemanager</display-name>
    <servlet-name>makemanager</servlet-name>
    <servlet-class>makemanager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>makemanager</servlet-name>
    <url-pattern>/makemanager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tomanager</display-name>
    <servlet-name>tomanager</servlet-name>
    <servlet-class>tomanager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tomanager</servlet-name>
    <url-pattern>/tomanager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tocust</display-name>
    <servlet-name>tocust</servlet-name>
    <servlet-class>tocust</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tocust</servlet-name>
    <url-pattern>/tocust</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeuser</display-name>
    <servlet-name>removeuser</servlet-name>
    <servlet-class>removeuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeuser</servlet-name>
    <url-pattern>/removeuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>movies_manage</display-name>
    <servlet-name>movies_manage</servlet-name>
    <servlet-class>movies_manage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>movies_manage</servlet-name>
    <url-pattern>/movies_manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>medit</display-name>
    <servlet-name>medit</servlet-name>
    <servlet-class>medit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>medit</servlet-name>
    <url-pattern>/medit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removemovie</display-name>
    <servlet-name>removemovie</servlet-name>
    <servlet-class>removemovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removemovie</servlet-name>
    <url-pattern>/removemovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addmovie</display-name>
    <servlet-name>addmovie</servlet-name>
    <servlet-class>addmovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addmovie</servlet-name>
    <url-pattern>/addmovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewtik</display-name>
    <servlet-name>viewtik</servlet-name>
    <servlet-class>viewtik</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewtik</servlet-name>
    <url-pattern>/viewtik</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>booknow</display-name>
    <servlet-name>booknow</servlet-name>
    <servlet-class>booknow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booknow</servlet-name>
    <url-pattern>/booknow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mybooks</display-name>
    <servlet-name>mybooks</servlet-name>
    <servlet-class>mybooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mybooks</servlet-name>
    <url-pattern>/mybooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delbooks</display-name>
    <servlet-name>delbooks</servlet-name>
    <servlet-class>delbooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delbooks</servlet-name>
    <url-pattern>/delbooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_movies</display-name>
    <servlet-name>admin_movies</servlet-name>
    <servlet-class>admin_movies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_movies</servlet-name>
    <url-pattern>/admin_movies</url-pattern>
  </servlet-mapping>
</web-app>